body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}


input{
 width: 10.5rem;
 height: 2rem;
 margin-bottom : 0.1rem;
 background-color: black;
 opacity: 0.7;
 color: white;
}
.numpad
{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.container
{
    width: 11rem;
    height: 20rem;
    justify-content: center;
    background-color: rgb(96, 133, 133);
    border: 0.3rem solid yellow;
    border-radius: 1rem;
}
button{
    height: 3rem;
    border-radius:1rem;
    gap: 10rem;
    background-color: black;
    opacity: 0.5;
    color: red;
    opacity: 100;
}
button:hover
{
    opacity: 0.9;
}